<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>IT Books</title>
		<meta name="Keywords" content="IT Books" />
		<meta name="Description" content="IT Books" />
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.css">
	</head>
	<body>
		<nav role="navigation" class="navbar navbar-default">
	      <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <a href="/" >
				<img src="/images/logo.jpg" width="50" /> 
				<span>IT Books</span>
	          </a>
	        </div>
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <p class="navbar-text navbar-right">
	        	<a class="navbar-link" href="/logout" style="margin-right:10px">安全退出</a> 
	        </p>
	      </div><!-- /.container-fluid -->
	    </nav>
		<div class="container">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="/admin/list">产品列表</a></li>
			    	<li class="active" role="presentation"><a href="/admin/add">发布资料</a></li>
			    	<li role="presentation"><a href="/admin/settings">基本配置</a></li>
			    	
			    	<li role="presentation"><a href="http://changyan.sohu.com/audit/comments/AUDITED/1" target="_blank">留言管理</a></li>
			    	<li role="presentation"><a href="#" target="_blank">IP/PV统计</a></li>
			    </ul>
			</div>
			<div class="col-md-10">
				<form role="form" method="post" action="add" enctype="multipart/form-data" >
					<input type="hidden" name="bookId" value="<%= books.id %>">
				  <div class="form-group">
				    <label for="tit">标题</label>
				    <input type="text" class="form-control" name="bookName" value="<%= books.name %>">
				  </div>
				  <div class="form-group">
				    <label for="info">简介</label>
				    <textarea class="form-control" name="bookInfo" style="height:300px"><%= books.info %></textarea>
				  </div>
				  <div class="form-group">
				    <label for="info">评级</label>
				    <input type="text" class="form-control" name="bookStar" value="<%= books.star %>">
				  </div>
				  <div class="form-group">
				    <label for="info">下载地址</label>
				   <input type="text" class="form-control" name="bookDownload" value="<%= books.download %>">
				  </div>
				  <div class="form-group">
				    <label for="info">密码</label>
				   <input type="text" class="form-control" name="bookPassword" value="<%= books.password %>">
				  </div>

				  <div class="form-group">
				    <label for="exampleInputFile">缩略图</label>
				    <input type="file" name="bookSrc" value="<%= books.src %>">
				    <img src="<%= books.src %>" width="100"/>
				  </div>
				  <button type="submit" class="btn btn-default">提交</button>
				</form>
				<div style="height:100px;"></div>
			</div>
		</div>
	</body>
</html>